@import "toastr";

* {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-family: Arial;
  font-size: 17px;
  padding: 4px;
}

* {
  box-sizing: border-box;
}
.logo {
  width: 100px;
  align-items: center;
}
.NGOtext h1 {
  font-weight: bold;
}
.mainimg {
  background-image: url("images/cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.thankyou {
  background-image: url("images/image0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.payment {
  background-color: #3988c6;
  background-size: cover;
}
.donationbtn {
  text-align: center;
}
.donationbtn button {
  width: 150px;
}
.regudon {
  margin-left: -10px;
  padding: 10px;
  background-color: #3988c6;
  color: white;
  border-color: white;
}
.offdon {
  background-color: white;
  padding: 10px;
}
.amtbtn button {
  width: 50px;
  color: black;
  font-weight: bold;
  margin-left: 10px;
}
.amtbtn {
  text-align: center;
}
.amtbtn input {
  width: 250px;
  height: 32px;
  margin-left: 10px;
}
.amtbtn .paynow {
  width: 150px;
}
.thanksimg {
  text-align: center;
}
.thanksimg img {
  height: 550px;
  margin-top: 20px;
  border-radius: 50%;
}
.dollars {
  text-align: right;
  font-style: italic;
  font-weight: bold;
}
.progress {
  margin-bottom: 10px;
  border-radius: 20px;
  overflow: visible;
}
.progress-bar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
  padding: 0 5px;
  background-color: green;
  overflow: visible;
}

.circle {
  content: "";
  background-color: #fab524;

  width: 30px;
  height: 30px;
  margin-right: -15px;
  margin-top: -5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  float: right;
}

input[type="radio"] {
  transform: scale(1.5);
}

.loader-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
}
.loader-svg {
  position: absolute;
  top: 45%;
  left: 45%;
}
.bg-passthrough {
  background: white;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
